doctype html
html(lang="en")
  head
    title Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="X-UA-Conpatiple" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=0")
    link(rel="icon" href="./img/favicon.png")
    link(rel="stylesheet" href="./css/style.css")
  body
    .wrapper
      include html/header.pug
      main.page
        .main-slider.swiper
          .main-slider__body.swiper-wrapper
            .main-slider__item.item-main-slider.swiper-slide
              .item-main-slider__content
                .item-main-slider__container._container 
                  .title
                    .title__item Exclusive only
                    .title__main.title__main_w.title__main_regular Lots for auction and free sale
                  .item-main-slider__text We gather an exclusive audience and exclusive lots, provide a convenient and automated service for buying, selling, and auctioning lots.
                  a.item-main-slider__btn.btn(href='#')
                    span.btn__body
                      span Join
              .item-main-slider__bg._ibg
                img(src='img/main_slider/layer_3.png')
            .main-slider__item.item-main-slider.swiper-slide
              .item-main-slider__content
                .item-main-slider__container._container 
                  .title
                    .title__item Exclusive only
                    .title__main.title__main_w.title__main_regular Lots for auction and free sale
                  .item-main-slider__text We provide personal accounts, provide related services with the sale of rare and expensive items.
                  a.item-main-slider__btn.btn(href='#')
                    span.btn__body
                      span Join
              .item-main-slider__bg._ibg
                img(src='img/main_slider/layer_4.png')
          .main-slider__control.control-main-slider
            .control-main-slider__arrow.control-main-slider__arrow_prev
            .control-main-slider__decor
              img(src='img/icons/nav_1.png')
            .control-main-slider__arrow.control-main-slider__arrow_next
        .lots
          .lots__container._container
            .lots__header.block-header
              .block-header__title.title
                .title__item Popular
                .title__main Lots for auction
              .block-header__decor.block-decor
                .block-decor__items
                  span
                .block-decor__icon
                  img(src='img/block-header/watchIcon.png')
                .block-decor__items
                  span
            .lots__slider
      include html/footer.pug
      script(src='./js/app.min.js')