@use "sass:math";
/*mixins*/
@import "mixins.scss";
@mixin anim($time, $delay){
  -moz-transition: all $time ease $delay;
  -webkit-transition: all $time ease $delay;
  -ms-transition: all $time ease $delay;
  -o-transition: all $time ease $delay;
  transition: all $time ease $delay;
}
@mixin amin_cubic($time, $delay){
  -moz-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55), $delay;
  -webkit-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55), $delay;
  -ms-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55), $delay;
  -o-transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55), $delay;
  transition: all $time cubic-bezier(0.68,-0.55,0.265,1.55), $delay;
}
@mixin rotate($deg){
  -moz-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}
@mixin scale($num){
  -moz-transform: scale($num);
  -webkit-transform: scale($num);
  -ms-transform: scale($num);
  -o-transform: scale($num);
  transform: scale($num);
}
@mixin skew($num){
  -moz-transform: skewX($num);
  -webkit-transform: skewX($num);
  -ms-transform: skewX($num);
  -o-transform: skewX($num);
  transform: skewX($num);
}
@mixin cnt($h){
  display: flex;
  flex-direction: column;
  height: $h;
  text-align: center;
  align-items: stretch;
  justify-content: center;
}
@mixin tr($x, $y, $z){transform: translate3d($x, $y, $z);}
@mixin flexbox(){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
}
@mixin flexorder($val){
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face{
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

/*Fonts*/
@import "fonts.scss";
@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,);
$fontfamily: 'PT Sans';

/*variables*/
$minwidth: 320px;
$mw: 970px;
$md1: $mw + 12px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

/*Reset*/
@import 'normalize.css';
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
a:active,a:hover,a:visited,a{text-decoration: none;}
a{-webkit-tap-highlight-color: transparent;}
body{
  font-family: $fontfamily;
  font-size: 14px;
  &._lock{overflow: hidden;
    @media(max-width: $md3){}
  }
}

/*default font*/
$fontfamily: "PT Sans";

/*wrapper*/
.wrapper{
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &.loaded{}
}
._container{
  max-width: $mw;
  margin: 0 auto;
  padding: 0 10px;
}

/*adaptive img*/
._ibg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
._ibg img{
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/*import*/
@import "swiper.scss";
@import 'header.scss';
@import 'footer.scss';
@import 'home.scss';

.page{
  flex: 1 1 auto;
}

/*block main-slider*/
.main-slider{
  position: relative;
  .swiper-wrapper{
    //align-items: flex-start;
    align-items: stretch;
    @media(max-width: $md3){
      //align-items: flex-start;
    }
  }
  &__body{}
  &__item{}
  &__control{
    position: absolute;
    left: 50%;
    width: 100px;
    height: 100px;
    bottom: 0px;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    &:after{
      content: "";
      background-color: #fff;
      position: absolute;
      width: 70%;
      height: 70%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  
  }
}
.item-main-slider{
  padding: 30px 0px 100px 0px;
  text-align: center;
  position: relative;
  
  &__content{
    position: relative;
    z-index: 2;
    height: 100%;
  }
  &__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__text{
    max-width: 700px;
    margin: 25px auto 0px auto;
    color: #fff;
    font-size: 15px;
    flex: 1 1 auto;
    line-height: calc(25/15);
  }
  &__btn{
    margin: 55px 0px 0px 0px;
    //bottom: 30px;
  }
}
.control-main-slider{
  &__arrow{
    position: relative;
    z-index: 2;
    background: url("../img/icons/arr_1.png") 0 0 no-repeat;
    width: 14px;
    height: 24px;
    cursor: pointer;
    &_prev{}
    &_next{
      transform: rotate(-180deg);
    }
  }
  &__decor{
    position: relative;
    z-index: 2;
    margin: 0px 12px;
    animation: rotate 5s infinite linear;
  }
}
@keyframes rotate{
  0%{}
  100%{
    transform: rotate(360deg);
  }
}
.btn{
  display: inline-block;
  padding: 0px 0px;
  position: relative;
  &:before,&:after{
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    content: "";
  }
  &:before{
    top: 0;
    background-color: #c3a774;
  }
  &:after{
    bottom: 0;
    background-color: #8f6630;
  }
  &__body{
    &:before,&:after{
      position: absolute;
      top: 0;
      height: 100%;
      width: 3px;
      content: "";
      background-image: linear-gradient(to top, #8f6630, #c3a774);
    }
    &:before{
      left: 0;
    }
    &:after{
      right: 0;
    }
    span{
      min-height: 50px;
      color: #fff;
      font-size: 15px;
      font-family: 'PFDin';
      letter-spacing: 2px;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      display: inline-flex;
      padding: 0px 50px;
      position: relative;
      &:after{
        content: "";
        height: 50%;
        transition: all 0.5s ease 0s;
        opacity: 0.06;
        background-image: linear-gradient(to top, #bb9c66 0%, rgba(187, 156, 102, 0) 100%);
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
      }
    }
  }
  @media(min-width: 992px){
    &:hover{
      .btn__body span{
        &:after{
          opacity: 0.3;
          height: 100%;
        }
      }
    }
  }
  &._fw{
    width: 100%;
  }
}
.title{
  text-align: center;
  &__item{
    font-family: "ceremonious";
    color: #bb9c66;
    font-size: 40px;
    margin: 0px 0px calc(20px/40px)*1em 0px;
  }
  &__main{
    font-family: "PFDin";
    letter-spacing: 5.25px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: calc(40/35);
    &_regular{
      font-weight: 400;
    }
    &_w{
      color: #fff;
    }
    @media(max-width: $md3){
      font-size: 30px;
    }
  }
}

/*block lots*/
.lots{
  padding: 85px 0px 63px 0px;
  &__container{}
  &__header{}
  &__slider{}
}
.block-header{
  &__title{
    margin: 0px 0px 20px 0px;
  }
  &__decor{}
}
.block-decor{
  display: flex;
  &__items{
    flex: 1 1 auto;
  }
  &__icon{
    text-align: center;
    flex: 0 0 150px;
  }
}